@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --accent: #fef404;
}

img {
   width: 100%;
   height: auto;
}

body {
   font-family: Recoleta, sans-serif !important;
   background-color: #1f1d1d !important;
   color: #fff !important;
}
.font-title {
   font-family: "Montserrat", sans-serif;
}
.font-title-light {
   font-family: "Work Sans", sans-serif;
}

.font-recoleta {
   font-family: Recoleta, sans-serif;
}
